build/
build-*/
out/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

Build/
bin/
obj/
x64/
Debug/
Release/
GeneratedFiles/
.vs/

save/*
!save/.gitkeep

*.vcxproj.user
*.suo
*.user

imgui.ini